java-maven-sonar-argocd-helm-k8s/spring-boot-app/sonarqube-10.4.1.88267/
java-maven-sonar-argocd-helm-k8s/spring-boot-app/sonarqube-10.4.1.88267.zip
java-maven-sonar-argocd-helm-k8s/spring-boot-app/target/
